@model List<Pizza>

<table class="table caption-top">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Immagine</td>
            <td>Descrizione</td>
            <td>Prezzo</td>
        </tr>
    </thead>
    @{
        if (Model.Count() == 0)
        {
            <h1>Non è stata inserita nessuna Pizza!</h1>

        } else
        {
            <tbody>


            @{
                foreach (var pizza in Model)
                {
                    <tr class="py-2">
                        <td><a href="~/Pizza/Details/@pizza.Id">@pizza.Name</a></td>
                        <td class="w-25"><img class="img-thumbnail w-50 h-50" src="@pizza.Image" /></td>
                        <td>@pizza.Description</td>
                        <td>@pizza.Price &euro;</td>
                    </tr>
                }
            }

            </tbody>  
        }
    }
</table>
